

<lib-ng-toast></lib-ng-toast>

<ng-container *ngIf="currentUrl=='/signin' || currentUrl=='/';else registerTemp">
  <app-login></app-login>
</ng-container>

<ng-template #registerTemp>
  <ng-container *ngIf="currentUrl=='/signup';else Temp">
    <app-signup></app-signup>
  </ng-container>
</ng-template>



<ng-template #Temp>
  <!-- BEGIN LOADER -->
  <!--  END LOADER -->
<ng-container *ngIf="currentUrl == '/home'">
  <app-home></app-home>
</ng-container>

</ng-template>

    <!-- END MAIN CONTAINER -->

