<div class="layout-px-spacing"  style="margin-right: 40px; margin-left: 40px;" >

<!--  <div class="middle-content container-xxl p-0">-->


      <!-- BREADCRUMB -->
      <div class="breadcrumb-wrapper-content mb-1 mt-2 d-flex start" style="background:white; width: 100%; ">
        <nav class="breadcrumb-style-two  mb-2" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg><span class="inner-text">Home</span></a></li>
            <li class="breadcrumb-item"><a href="#">Gestion Pannes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Signaler une Panne</li>
          </ol>
        </nav>
      </div>
      <!-- /BREADCRUMB -->

      <div class="widget-content widget-content-area" style="padding: 20px; margin-top: 40px;">


        <div class="table-responsive">
          <table class=" table table-hover">
            <thead>
            <tr>
              <th class="checkbox-area" scope="col">
                <div class="form-check form-check-primary">
                  <input class="form-check-input" id="noBorder_parent_all" type="checkbox">
                </div>
              </th>
              <th class="" scope="col">ID</th>
              <th class="" scope="col">Type Ressource</th>
              <th scope="col">Date Affectation</th>
              <th class="text-center" scope="col">Status</th>
            </tr>
            </thead>
            <tbody id ="openModelShowRess">
<!--            <tr *ngFor="let ress of ressources" data-bs-toggle="modal" data-bs-target="#zoomupModal_ShowRess">-->
              <ng-container *ngIf="ressourceDtoense">
               <tr *ngFor="let ress of ressourceDtoense.ressourcesDTOList" (click)="handleShowRess(ress)">

                  <td>
                    <div class="form-check form-check-primary">
                      <input class="form-check-input noBorder_child" type="checkbox">
                    </div>
                  </td>
                  <td>{{ress.id}}</td>
                  <td class="">{{ress.typeRessource}}</td>
                  <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                    <span class="table-inner-text">{{ress.dateDemande}}</span>
                  </td>
                  <td class="text-center">
                    <button  (click)="handleSetStatus(ress);  $event.stopPropagation()"  [ngClass]="ress.etat==true?'badge badge-danger':'badge badge-success'" style="border: none; width: 80px; font-size: 14px;">
                    <span *ngIf="ress.etat"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"   width="24" height="24" x="0" y="0" viewBox="0 0 512.002 512.002" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M366.376 271.127h-60.375l72.375-96.5a15 15 0 0 0-12-24H325.77l35.1-131.764a15 15 0 0 0-7.508-17.135 14.994 14.994 0 0 0-18.375 3.512l-180.75 210.875a15 15 0 0 0 11.389 24.761h40.375l-72.375 96.5a15 15 0 0 0 12 24h40.606L151.131 493.14a15 15 0 0 0 25.36 14.204l200.75-210.875a15 15 0 0 0-10.865-25.342z" fill="#ffffff" data-original="#000000" class=""></path></g></svg>
                     <ng-container *ngIf="ress.etat">
                       Panne
                     </ng-container>
                    </span>
                    <span *ngIf="!ress.etat"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"  width="24" height="24" x="0" y="0" viewBox="0 0 417.813 417" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M159.988 318.582c-3.988 4.012-9.43 6.25-15.082 6.25s-11.094-2.238-15.082-6.25L9.375 198.113c-12.5-12.5-12.5-32.77 0-45.246l15.082-15.086c12.504-12.5 32.75-12.5 45.25 0l75.2 75.203L348.104 9.781c12.504-12.5 32.77-12.5 45.25 0l15.082 15.086c12.5 12.5 12.5 32.766 0 45.246zm0 0" fill="#ffffff" data-original="#000000" class=""></path></g></svg>
                     <ng-container *ngIf="!ress.etat">
                       Good
                     </ng-container>
                   </span>

                    </button>
                  </td>

                  <!--
                              <td *ngIf="authenService.hasRole('ADMIN')">
                                <button (click)="handleSetPromotion(p)" [ngClass]="p.promotion==true?'btn btn-warning':'btn btn-success'">
                                  <span *ngIf="p.promotion==true">Promo Off</span>
                                  <span *ngIf="p.promotion==false">Promo On</span>
                                </button>
                              </td>
                  -->
                </tr>

              </ng-container>
            </tbody>
          </table>
        </div>


      </div>



      <div id="zoomupModal_ShowRess"  class="modal animated zoomInUp custo-zoomInUp" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content" style="width: 700px">
            <div class="modal-header">
              <h5 class="modal-title">Show Ressource</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <form >
                  <ng-container *ngIf="ress">

                    <div *ngIf="ress.typeRessource=='Imprimante'" class="row g-4 mb-5">
                      <div class="col-md-12">
                        <label >Type Ressource</label>
                        <input value="{{ress.typeRessource}}"  type="text" class="form-control" style="color: black!important;" readonly >

                      </div>
                      <div class="col-md-6">
                        <label >Resolution</label>
                        <input value="{{ress.imprOrd.resolution}}"  type="text" class="form-control" style="color: black!important;"  readonly>

                      </div>
                      <div class="col-md-6">
                        <label >Vitesse</label>
                        <input value="{{ress.imprOrd.vitesse}}" type="text" class="form-control"  style="color: black!important;" readonly >

                      </div>
                    </div>
                    <div *ngIf="ress.typeRessource=='Ordinateur'" class="row g-4 mb-5">
                      <div class="col-md-12">
                        <label >Type Ressource</label>
                        <input value="{{ress.typeRessource}}"  type="text" class="form-control" style="color: black!important;"  readonly >
                      </div>
                      <div class="col-md-6">
                        <label >RAM</label>
                        <input value="{{ress.imprOrd.ram}}"  type="text" class="form-control" style="color: black!important;"  readonly >

                      </div>
                      <div class="col-md-6">
                        <label >Ecran</label>
                        <input value="{{ress.imprOrd.ecran}}" type="text" class="form-control" style="color: black!important;"  readonly>

                      </div>
                      <div class="col-md-6">
                        <label >Stockage</label>
                        <input value="{{ress.imprOrd.stockage}}" type="text" class="form-control" style="color: black!important;"  readonly >
                      </div>
                      <div class="col-md-6">
                        <label >CPU</label>
                        <input value="{{ress.imprOrd.cpu}}" type="text" class="form-control" style="color: black!important;"  readonly >
                      </div>
                    </div>

                  </ng-container>

                  <div class="modal-footer md-button">
                    <!--              <button class="btn btn-light-dark" data-bs-dismiss="modal">Discard</button>-->
                    <button   data-bs-dismiss="modal" aria-label="Close" type="button" class="btn btn-primary">Ok</button>
                  </div>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>

